<mat-form-field>
	<input [formControl]="dateInput" #pickerInput matInput [min]="this.min" [max]="this.max"
		[matDatepicker]="datePicker" [placeholder]="dateTemplate" (keyup.enter)="submit()">
	<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
	<mat-datepicker #datePicker></mat-datepicker>
	<mat-error *ngIf="dateInput.errors && dateInput.touched">
		<mat-error *ngIf="dateInput.errors['required'] && !dateInput.errors['matDatepickerParse']">
			{{errorMessages.no_date}}</mat-error>
		<mat-error *ngIf="dateInput.errors['required']&&dateInput.errors['matDatepickerParse']">
			{{errorMessages.invalid_date}}
		</mat-error>
		<mat-error *ngIf="dateInput.errors['future_date']">{{errorMessages.future_date}}</mat-error>
		<mat-error *ngIf="dateInput.errors['past_date']">{{errorMessages.invalid_date}}</mat-error>
	</mat-error>
</mat-form-field>